$purple: #74546A;
$lavender: #8d3a78;
$coral: #F67E7D;
$text: #fff;
$turqoise: #0F7173;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex($direction: row, $flex-type: space-between) {
    display: flex;
    justify-content: $flex-type;
    flex-direction: $direction;
    align-items: center;
}

@mixin default-padding {
    padding: 2em;
}

